<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="/client/todo/todo.css">
  </head>
  <body>
  <form ng-submit="vm.createTodo()">
  <h1 class="hcenter">Todo List</h1>
  <h3 class="hcenter">Add a task</h3>
  <div class="hcenter">
    <label>Task Description</label>
    <br>
    <input type="text" value="" ng-model="vm.todo.description">
  </div>
  <br>
  <div class="hcenter">
    <label>Completion Date</label>
    <br>
    <input type="date" value="" ng-model="vm.todo.date">
  </div>
  <div class="hcenter">
  <button type="submit" class="btn btn-success" name="button" class="hcenter">Add</button>
</div>
</form>
<br>
<br>
<table style="width: 500px" align= "center">
<h3 class="hcenter">Tasks to be Completed</h3>
<thead class="hcenter">
    <tr>
      <td>Task</td>
      <td>Completion Date</td>
      <td>Completed?</td>
    </tr>
  </thead>
  <tbody class="hcenter">
    <tr>
      <td>{{ vm.todo.description }}</td>
      <td>{{ vm.todo.date }}</td>
      <td><input type="checkbox" name="name" value=""></td>
    </tr>
  </tbody>
</table>
<table align="center" style="width: 500px">
  <h3 class="hcenter">Completed Tasks</h3>
  <thead class="hcenter">
    <tr>
      <td>Task</td>
      <td>Completion Date</td>
      <td>Completed?</td>
    </tr>
  </thead>
  <tbody class="hcenter">
    <tr>
      <td></td>
      <td></td>
      <td><input type="checkbox" name="name" value="" checked="true"></td>
    </tr>
  </tbody>
</table>
  </body>
</html>
