<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="/client/todo/todo.css">
  </head>
  <body>
  <form ng-submit="vm.createTodo()">
  <h1 class="hcenter">Todo List</h1>
  <h3 class="hcenter">Add a task</h3>
  <div class="hcenter">
    <label>Task Description: </label>
    <input type="text" value="" ng-model="vm.todo.description">
  </div>
  <div class="hcenter">
    <label>Completion Date: </label>
    <input type="date" value="" ng-model="vm.todo.date">
  </div>
  <button type="submit" class="hcenter" name="button">Add</button>
</form>
<br>
<br>
<table class="hcenter" style="width: 500px">
<h3>Tasks to be Completed</h3>
<thead>
    <tr>
      <td>Task</td>
      <td>Completion Date</td>
      <td>Completed?</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ vm.todo.description }}</td>
      <td>{{ vm.todo.date }}</td>
      <td><input type="checkbox" name="name" value=""></td>
    </tr>
  </tbody>
</table>
<table class="hcenter" style="width: 500px">
  <h3>Completed Tasks</h3>
  <thead>
    <tr>
      <td>Task</td>
      <td>Completion Date</td>
      <td>Completed?</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td><input type="checkbox" name="name" value="" checked="true"></td>
    </tr>
  </tbody>
</table>
  </body>
</html>
